extends ../layouts/header.pug

block content

            h1(class="text-center") View user
            p 
                b Name: &nbsp;
                    span= user.name
                br
                b Email: &nbsp;
                    span= user.email
                br
                b Address: &nbsp;
                    span= user.address
